{% extends "layout.html" %}
{% block content %}
	<h2>Add a Comment</h2>
		<div class='content-section'>
		<form method='POST' action=''>
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Enter Comment</legend>
				<div class="form-group">
					{{ form.review_text.label(class='form-control-label') }}
					{% if form.review_text.errors %}
					{{ form.review_text(class='form-control form-control-lg is-invalid') }}
					<div class="invalid-feedback">
						{% for error in form.review_text.errors %}
							<span>{{ error }}</span>
						{% endfor %}
					</div>
					{% else %}
						{{ form.review_text(class='form-control form-control-lg') }}
					{% endif %}	
				</div>
			</fieldset>
			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
		</form>
	</div>
{% endblock content %}