{% extends "layout.html" %}
{% block content %}
	<script src="https://d3js.org/d3.v4.js"></script>
	<h1>Home</h1>
	<br>
	<h3>Overall Appliances Sentiment ScatterPlot</h3>
	<img src="{{image_file}}">
	<h3>WordCloud Using Map-Reduce</h3>
	<img src="{{image_file_2}}"height="300" width="650">
	<br>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<h3>Overall Appliances Sentiment</h3>
				<div id="chartdiv"></div>
			</div>
			<div class="col-md-6">
				<h3>Total Star Ratings</h3>
				<div id="chartdiv2"></div>
			</div>
		</div>
	</div>
	<div>
		<h3>Brand Wise Distribution</h3>
		<div id="brandtree"></div>
	</div>
	<div>
		<h3>Category Wise Distribution</h3>
		<div id="categoryTree"></div>
	</div>
	
	<!-- Styles -->
	<style>
	#block-1 {
		width: 100%;
	}

	#chartdiv {
		margin: 30px;
		width: 100%;
	  	height: 300px;
	}

	</style>

	<!-- Resources -->
	<script src="https://www.amcharts.com/lib/4/core.js"></script>
	<script src="https://www.amcharts.com/lib/4/charts.js"></script>
	<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

	<!-- Chart code -->
	<script>
	am4core.ready(function() {

	// Themes begin
	am4core.useTheme(am4themes_animated);
	// Themes end

	// Create chart instance
	var chart = am4core.create("chartdiv", am4charts.PieChart);

	// Add data
	chart.data = [ {
	  "country": "Positive",
	  "litres": 540926
	}, {
	  "country": "Negative",
	  "litres": 61851
	}];

	// Set inner radius
	chart.innerRadius = am4core.percent(50);

	// Add and configure Series
	var pieSeries = chart.series.push(new am4charts.PieSeries());
	pieSeries.dataFields.value = "litres";
	pieSeries.dataFields.category = "country";
	pieSeries.slices.template.stroke = am4core.color("#fff");
	pieSeries.slices.template.strokeWidth = 2;
	pieSeries.slices.template.strokeOpacity = 1;

	// This creates initial animation
	pieSeries.hiddenState.properties.opacity = 1;
	pieSeries.hiddenState.properties.endAngle = -90;
	pieSeries.hiddenState.properties.startAngle = -90;

	}); // end am4core.ready()
	</script>

	<!-- Styles -->
	<style>
	#chartdiv2 {
	  width: 100%;
	  height: 300px;
	}

	</style>

	<!-- Resources -->
	<script src="https://www.amcharts.com/lib/4/core.js"></script>
	<script src="https://www.amcharts.com/lib/4/charts.js"></script>
	<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>

	<!-- Chart code -->
	<script>
	am4core.ready(function() {

	// Themes begin
	am4core.useTheme(am4themes_animated);
	// Themes end

	// Create chart instance
	var chart = am4core.create("chartdiv2", am4charts.XYChart3D);

	// Add data
	chart.data = [{
	  "year": 5,
	  "income": 416288,
	  "color": chart.colors.next()
	}, {
	  "year": 4,
	  "income": 75476,
	  "color": chart.colors.next()
	}, {
	  "year": 3,
	  "income": 30652,
	  "color": chart.colors.next()
	}, {
	  "year": 2,
	  "income": 20734,
	  "color": chart.colors.next()
	}, {
	  "year": 1,
	  "income": 59627,
	  "color": chart.colors.next()
	}];

	// Create axes
	var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
	categoryAxis.dataFields.category = "year";
	categoryAxis.numberFormatter.numberFormat = "#";
	categoryAxis.renderer.inversed = true;

	var  valueAxis = chart.xAxes.push(new am4charts.ValueAxis()); 

	// Create series
	var series = chart.series.push(new am4charts.ColumnSeries3D());
	series.dataFields.valueX = "income";
	series.dataFields.categoryY = "year";
	series.name = "Income";
	series.columns.template.propertyFields.fill = "color";
	series.columns.template.tooltipText = "{valueX}";
	series.columns.template.column3D.stroke = am4core.color("#fff");
	series.columns.template.column3D.strokeOpacity = 0.2;

	}); // end am4core.ready()
	</script>

	<script>

	// set the dimensions and margins of the graph
	var margin = {top: 10, right: 10, bottom: 10, left: 10},
	  width = 1000 - margin.left - margin.right,
	  height = 600 - margin.top - margin.bottom;

	// append the svg object to the body of the page
	var svg = d3.select("#brandtree")
	.append("svg")
	  .attr("width", width + margin.left + margin.right)
	  .attr("height", height + margin.top + margin.bottom)
	.append("g")
	  .attr("transform",
	        "translate(" + margin.left + "," + margin.top + ")");

	// Read data
	d3.csv('{{ csv_file }}', function(data) {

	  // stratify the data: reformatting for d3.js
	  var root = d3.stratify()
	    .id(function(d) { return d.name; })   // Name of the entity (column name is name in csv)
	    .parentId(function(d) { return d.parent; })   // Name of the parent (column name is parent in csv)
	    (data);
	  root.sum(function(d) { return +d.value })   // Compute the numeric value for each entity

	  // Then d3.treemap computes the position of each element of the hierarchy
	  // The coordinates are added to the root object above
	  d3.treemap()
	    .size([width, height])
	    .padding(4)
	    (root)

	console.log(root.leaves())
	  // use this information to add rectangles:
	  svg
	    .selectAll("rect")
	    .data(root.leaves())
	    .enter()
	    .append("rect")
	      .attr('x', function (d) { return d.x0; })
	      .attr('y', function (d) { return d.y0; })
	      .attr('width', function (d) { return d.x1 - d.x0; })
	      .attr('height', function (d) { return d.y1 - d.y0; })
	      .style("stroke", "black")
	      .style("fill", "#5f788a");

	  // and to add the text labels
	  svg
	    .selectAll("text")
	    .data(root.leaves())
	    .enter()
	    .append("text")
	      .attr("x", function(d){ return d.x0+10})    // +10 to adjust position (more right)
	      .attr("y", function(d){ return d.y0+20})    // +20 to adjust position (lower)
	      .text(function(d){ return d.data.name})
	      .attr("font-size", "15px")
	      .attr("fill", "white")
	})
	</script>

	<script>

		// set the dimensions and margins of the graph
	var margin = {top: 10, right: 10, bottom: 10, left: 10},
	  width = 1000 - margin.left - margin.right,
	  height = 600 - margin.top - margin.bottom;

	// append the svg object to the body of the page
	var svg_2 = d3.select("#categoryTree")
	.append("svg")
	  .attr("width", width + margin.left + margin.right)
	  .attr("height", height + margin.top + margin.bottom)
	.append("g")
	  .attr("transform",
	        "translate(" + margin.left + "," + margin.top + ")");

	// Read data
	d3.csv('{{csv_file_2}}', function(data) {

	  // stratify the data: reformatting for d3.js
	  var root = d3.stratify()
	    .id(function(d) { return d.name; })   // Name of the entity (column name is name in csv)
	    .parentId(function(d) { return d.parent; })   // Name of the parent (column name is parent in csv)
	    (data);
	  root.sum(function(d) { return +d.value })   // Compute the numeric value for each entity

	  // Then d3.treemap computes the position of each element of the hierarchy
	  // The coordinates are added to the root object above
	  d3.treemap()
	    .size([width, height])
	    .padding(4)
	    (root)

	console.log(root.leaves())
	  // use this information to add rectangles:
	  svg_2
	    .selectAll("rect")
	    .data(root.leaves())
	    .enter()
	    .append("rect")
	      .attr('x', function (d) { return d.x0; })
	      .attr('y', function (d) { return d.y0; })
	      .attr('width', function (d) { return d.x1 - d.x0; })
	      .attr('height', function (d) { return d.y1 - d.y0; })
	      .style("stroke", "black")
	      .style("fill", "#ccccff");

	  // and to add the text labels
	  svg_2
	    .selectAll("text")
	    .data(root.leaves())
	    .enter()
	    .append("text")
	      .attr("x", function(d){ return d.x0+10})    // +10 to adjust position (more right)
	      .attr("y", function(d){ return d.y0+20})    // +20 to adjust position (lower)
	      .text(function(d){ return d.data.name})
	      .attr("font-size", "15px")
	      .attr("fill", "black")
	})
	</script>

{% endblock content %}