{% extends "layout.html" %}
{% block content %}
<script type="module" src="https://unpkg.com/x-frame-bypass"></script>
<iframe is="x-frame-bypass" src="https://preview.flourish.studio/2502679/zZM-m91nGmVDVFia-tVA4G5kD0DpllwX_u_A-ObdKOrQOEtM47CVdK6HEU1QlYo9/" width="500" height="281" frameborder="0" ></iframe>
<p>
	Directed network graph to show relationship between a  base product and the corresponding recommended products.
	<br>
	E.g. - Product:Universal Metal Industries Range Hood Grease Filter.
	Recommended:Broan BP58 Non-Ducted Charcoal Replacement Filter Pads for Range Hood
</p>
{% endblock content %}